<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{SITE_TITLE} Email Registration</title>
</head>
<body style="color:orange; font-family: Arial, Helvetica, sans-serif; font-weight: 700; margin: 100px; padding: 20px">
    <!-- Insert your content here -->
    <h1 style="color: green;">{SITE_TITLE} Registration</h1>
    <p>Thank you! for validating your email with us. Validating tells us this is a confirmed method of communicating with you.</p>
    <p>Our official policy is to never share your email address, or any other private information, with anyone. No exceptions. We don't like spam any more than you do!</p>
    <p>If you need assistance, or have questions, please feel free to visit our support page, find us on Discord, or shoot us an email!</p>
    <p>If you're ready to go, please click <a style="color: green;" href="{ACTIVATION_URL}">here</a> to activate your account!</p>
</body>
</html>
