<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{SITE_TITLE} Password Recovery</title>
</head>
<body style="color:orange; font-family: Arial, Helvetica, sans-serif; font-weight: 700; margin: 100px; padding: 20px">
    <!-- Insert your content here -->
    <h1 style="color: green;">{SITE_TITLE} Password Recovery</h1>
    <p>Someone, hopefully you, has requested a password change for an account with this email address.</p>
    <p>If this was you, please click the link below to change your password. Please know, this is a single use link and will fail to work the next time you click it.</p>
    <p>If you're ready to go, please click <a style="color: green;" href="{ACTIVATION_URL}">here</a> to change your password!</p>
</body>
</html>
